<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Trial Angular JS</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="mainApp">
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="todo/modules/todo.module.js"></script>
<script src="todo/controllers/todo.controller.js"></script>
<script src="todo/services/todo.service.cs.js"></script>
<script src="todo/filters/todo.filter.js"></script>
<script src="script/app.js"></script>

<div ng-controller="MainCtrl">
    <div class="container-fluid">
        <div class="jumbotron">
            <h3>Todo List App</h3>
        </div>
        <form ng-submit="add()" name="form">
            <input name="text" type="text" placeholder="Enter todo" ng-model="newTodos.text" required>
            <input type="hidden" ng-model="newTodos.complete">&nbsp;
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="criteria='All'">Add</button>
            <br>
            <span ng-show="form.text.$error.required">Todo is required</span>
        </form>
        <br>
        <div ng-repeat="item in todos | TodoFilter:criteria">
            <input type="checkbox" ng-model="item.completed">
            <span ng-bind="item.text" ng-class="{'completed': item.completed}"></span>
            <button ng-click="delete(item)">x</button>
        </div>
        <hr>
        <a href="#" ng-click="criteria='All'" ng-class="{'active': criteria==='All'}">All</a> |
        <a href="#" ng-click="criteria='Active'" ng-class="{'active': criteria==='Active'}">Active</a> |
        <a href="#" ng-click="criteria='Completed'" ng-class="{'active': criteria==='Completed'}">Completed</a>
        <div ng-show="todos.length<=0">
            No todos
        </div>

        <div>
            <button ng-click="clearCompleted()">Clear Completed</button>&nbsp
            <button ng-click="clear()">Clear All</button>
        </div>
    </div>
</div>
</body>
</html>